@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', monospace;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100vh;
    background-color: #F8F8F8;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
}

#calculator .row {
    display: flex;
    flex-direction: row;
}

#calculator #display {
    background-color: #2E2E2E;
    width: 100%;
    height: 15vh;
    margin-bottom: 10px;
}

#calculator .row .btn {
    background-color: #979797;
    width: 25%;
    height: 12vh;
    margin: 10px;
}

#calculator .row .btn:first-child {
    margin-left: 0;
}

#calculator .row .btn:last-child {
    margin-right: 0;
}

#calculator .row .btn:hover {
    cursor: pointer;
    background-color: #828282;
}